<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Digi-Sudoku: Add New Sudoku</title>
    <script>
        <!--
            function submit_sudoku() {
                url = 'submit?challenge='
                var emptyCellCount = 0;
                var cells = document.querySelectorAll('[contenteditable]');
                var i;
                for (i = 0; i < cells.length; i++) {
                    if (cells[i].textContent == "") {
                        url = url + '0';
                        emptyCellCount = emptyCellCount + 1;
                    }
                    else{
                        if (isNaN(cells[i].textContent) || cells[i].textContent < 1 || cells[i].textContent > 10) {
                            alert("Input not valid");
                            return;
                        }
                        url = url + cells[i].textContent;
                    }
                }
                if (emptyCellCount > 64)
                    alert("Please enter digits in atleast 17 cells")
                else
                    window.open (url,'_self',false);
            }
        //-->
    </script>
    <style type="text/css">
        table {
            margin:1em auto;
        }
        td {
          height:30px;
          width:30px;
          border:1px solid;
          text-align:center;
        }
        td:first-child {
          border-left:solid;
        }
        td:nth-child(3n) {
          border-right:solid ;
        }
        tr:first-child {
          border-top:solid;
        }
        tr:nth-child(3n) td {
          border-bottom:solid ;
        }
    </style>
</head>
<body>
    <center>
        <table border = 1 id="sudoku_table">
            {% for row in range(9) %}
                <tr>
                {% for col in range(9) %}
                    <td contenteditable="true"></td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tr>
        </table>
        <button type="button" onclick="submit_sudoku()">Submit</button>
    </center>
</body>
</html>