<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Digi-Sudoku: Welcome</title>
    <script>
        <!--
            function new_sudoku() {
                window.open ('new','_self',false)
            }
            function add_sudoku() {
                window.open ('add','_self',false)
            }
        //-->
    </script>
</head>
<body>
    <center>
        <button type="button" onclick="new_sudoku()">New</button>
        <button type="button" onclick="add_sudoku()">Add</button>
    </center>
</body>
</html>
